@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
*{margin:0; padding:0;}
img {border:0;}
html,body {
height:100%;  
/*폰트설정*/
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-weight: 300;
background-color: #fff;}

#contents {clear:both; height:100%;}
a {text-decoration:none; color:#000;}

/*상단,메인메뉴를 감싸고 있는 영역*/
#nav{
	width:1280px; 
	margin:0 0 15px 0; 
	padding:0px;
	}
/*메뉴 리스트스타일과 정렬설정*/
#nav ul {
	list-style:none;
	width:900px;	
}

#nav .menubar {
	width:900px;	
}

#nav ul li {float:left;}

/*로그인,회원가입,언어설정 상단메뉴*/
#top_menu{width:1280px; height:40px; border-bottom: 1px solid #dedede;}
#top_menu ul {
	width: 520px;
	float:right;
	}
#top_menu li {margin-right:15px; line-height:40px;}
#top_menu li a{display:block;height:37px;line-height:37px; font-size:12px;}

/*로고*/
#logo{
	clear:both; 
	width:200px; 
	height:110px; 
	margin:0 auto; 
	margin-top:20px; 
	margin-bottom:1px;
	background:#fff;
	padding-left: 100px;
}

/*메인메뉴*/
.menubar{
border:0px;
margin:0px;
padding:0px;
width:500px;
margin:0 auto;
font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.menubar ul{
background:#fff;
height:50px;
list-style:none;
margin:0;
padding:0;
}

.menubar li{
float:left;
margin:0 55px;
padding:0px;
}

.menubar li a{
background:#fff;
color:#000;
display:block;
font-size:20px;
font-weight:bold;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

.menubar li a:hover, .menubar ul li:hover a{
background: rgb(71,71,71);
color:#FFFFFF;
text-decoration:none;
}

.menubar li ul{
background: rgb(109,109,109);
display:none; /* 평상시에는 드랍메뉴가 안보이게 하기 */
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
/*top:1em;
/*left:0;*/
}

.menubar li:hover ul{
display:block; /* 마우스 커서 올리면 드랍메뉴 보이게 하기 */
}

.menubar li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

.menubar li:hover li a{
background:none;
}

.menubar li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
margin:0px;
padding:0px 10px 0px 15px;
text-align:left;
}

.menubar li ul a:hover, .menubar li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

  
/*슬라이드*/
.flicker-example{z-index:100;}
/*컨텐츠영역*/
#contents {padding-top:20px; height:auto; margin:0;}

/*하단푸터영역*/
#footer {clear:both; background:#c0c0c0;color:#808080;}

#footer_menu {width:1100px; height:100px;margin:0 auto;}
#footer_menu ul {list-style:none; }
#footer_menu ul li {float:left; line-height:50px;  margin-right:20px; }
.copyright{clear:both;font-size:12px;}
.flick-title, .flick-sub-text {text-shadow:2px 2px 2px gray;}
