@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
*{margin:0; padding:0;}
img {border:0;}
html,body {
height:100%;  
/*폰트설정*/
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-weight: 300;
background-color: #fff;}

#contents {clear:both; height:100%; }
a {text-decoration:none; color:#000;}

/*상단,메인메뉴를 감싸고 있는 영역*/
#nav{width:100%; margin:0 0 15px 0; padding:0px;}
/*메뉴 리스트스타일과 정렬설정*/
#nav ul {list-style:none;}
#nav ul li {float:left;}

/*로그인,회원가입,언어설정 상단메뉴*/
#top_menu{width:100%; height:40px; border-bottom: 1px solid #dedede;}
#top_menu ul {float:right;}
#top_menu li {margin-right:15px; line-height:40px;}
#top_menu li a{display:block;height:37px;line-height:37px; font-size:12px;}

/*로고*/
#logo{clear:both; width:200px; height:110px; margin:0 auto; margin-top:20px; 
margin-bottom:1px;background:#fff;}

/*여행지,숙소,음식점 등 메인메뉴*/
#main_menu {
width:900px;
z-index:130000000;
position:relative;
margin:0 auto;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-Serif; /*폰트설정*/
}
#main_menu > ul {
  font-size: 20px; /*폰트사이즈설정*/
  line-height: 20px; /*수직가운데정렬*/
  font-weight:bold;
  width: auto; /*가로자동*/
  list-style-type: none; /*ul 리스트 구분기호 없애기*/
  margin-bottom:30px;
  
  /*안쪽여백 바깥족여백 0*/
  padding: 0; 
  margin: 0;
  
  background: #ffffff;/*배경색*/

}
/*브라우저 사이즈 줄었을 때 보이는 메뉴, 최대화했을 때는 보이지 않게 숨기기*/
#main_menu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#main_menu > ul li {
	
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#main_menu > ul li.has-sub {
  width:150px;
  	position: relative;
 
}
#main_menu > ul li.has-sub:hover ul {
  display: block;
}
#main_menu > ul li.has-sub ul {
  display: none;
  width:170px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ece6e8;
  border-bottom: 3px solid #d9d9d9;
  border-top: 0 none;
}
#main_menu > ul li.has-sub ul li {

  display: block;
}

#main_menu > ul li a {
	
  display: block;
  padding: 12px 24px 11px 24px;
  text-decoration: none;
  color: #1f1f1f;
    text-align:center;
  text-shadow: 0px 1px 0px #fff;
}
#main_menu > ul li a.active,
#main_menu > ul li a:hover {
  background: #f4f4f4;
 
}
@media (max-width: 600px) {
  #main_menu > ul {
    width: 100%;
  }
  #main_menu > ul li#responsive-tab {
    display: block;
  }
  #main_menu > ul li#responsive-tab a {
    background: url('img/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #main_menu > ul li#responsive-tab a:hover {
    background-color: #f4f4f4;
    background-position: 95% 135%;
  }
  #main_menu > ul li {
    display: none;
  }
  #main_menu > ul li.right {
    float: none;
  }
  #main_menu > ul li.has-sub {
    position: relative;
  }
  #main_menu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #ffffff;
    border: 0 none;
  }
  #main_menu > ul li.has-sub ul li {
    display: block !important;
  }
  #main_menu > ul li.has-sub ul li a span {
    display: block;
    
  }
  #main_menu > ul li.has-sub > a {
    background-image: none;
  }
  

}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #main_menu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #main_menu > ul ul li.collapsed {
    display: block !important;
  }

}
}
/*슬라이드*/
.flicker-example{z-index:100;}
/*컨텐츠영역*/
#contents {min-height:100%; margin:0; background:#0FC;}

/*하단푸터영역*/
#footer {clear:both; background:#c0c0c0;color:#808080;}

#footer_menu {width:1100px; height:100px;margin:0 auto;}
#footer_menu ul {list-style:none; }
#footer_menu ul li {float:left; ine-height:50px;  margin-right:20px; }
.copyright{clear:both;font-size:12px;}
.flick-title, .flick-sub-text {text-shadow:2px 2px 2px gray;}
